<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Standardbeispiele Event Binding</mat-panel-title>
  </mat-expansion-panel-header>

  <app-standardexamples></app-standardexamples>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header> <mat-panel-title> ngModelStandalone </mat-panel-title> </mat-expansion-panel-header>

  <app-ngmodelstandalone></app-ngmodelstandalone>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header> <mat-panel-title> Custom Two-Way Binding </mat-panel-title> </mat-expansion-panel-header>

  <app-custom2way-data-binding></app-custom2way-data-binding>
</mat-expansion-panel>
